<!-- views/partials/head.ejs -->
  <title>MOVIES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <script src="/build/three.js"></script>
  <script src="/js/renderers/Projector.js"></script>
  <script src="/js/renderers/CanvasRenderer.js"></script>
  <script src="/js/libs/stats.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/build/TrackballControls.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link href="/styles/bootstrap.min.css" rel="stylesheet">
  <script src="/js/bootstrap.min.js"></script>


