<!-- views/partials/header.ejs -->

<script src="/build/three.js"></script>
<script src="/js/renderers/Projector.js"></script>
<script src="/js/renderers/CanvasRenderer.js"></script>
<script src="/js/libs/stats.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/build/TrackballControls.js"></script>
<script src="/build/mini_cubes.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/main.css">

 <ul>
  <li><a style="color:orange;margin-left: 15px;" href="/multiple_cubes">Home</a></li>
  <li><a href="#news">Browse</a></li>
  <li><a href="#news"><i class="material-icons">search</i></a></li>
  <li style="float:right"><a href="#contact">Sign Out</a></li>
  <li style="float:right"><p>|</p></li>
  <li style="float:right"><a href="#contact">Contact Us</a></li>
</ul>