<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

  <body>

    <header>
      <% include ../partials/header %>
    </header>
    <div class="page-wrap">
      <div id="movie-canvas">
      loading...
      </div>
    </div>
    <footer class="site-footer">
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
