<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <script src="/build/mini_cubes.js"></script>

<!--     <div id="loader">
      <img src="box.gif">
    </div> -->

    <div class="page-wrap">
      <div id="movie-canvas">
      loading...
      </div>
    </div>
    <footer class="site-footer">
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
