<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="alert alert-success" role="alert">
      <p>From:</p>
      <span style="float:right; margin-top:-15px" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    </div>
    <div class="alert alert-success" role="alert">
      <p>From:</p>
      <span style="float:right; margin-top:-15px" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    </div>

    <footer style="margin-top:34%" class="site-footer">
      <% include ../partials/footer %>
    </footer>

  </body>
</html>