body {
  font-family: Monospace;
  font-family: 'Lato', sans-serif !important;
  background-color: #303030 !important;
  margin: 0px;
  overflow: hidden;
}

.navbar-brand {
  color: orange !important;
}

.navbar-form {
  background-color: none !important;
}

ul.dropdown-menu {
  background-color: #cccccc !important;
  color: black;
}

button.btn.btn-default {
  background-color: transparent;
  border-style: none;
}

input.form-control {
  background-color: transparent;
}

#signout {
  padding: 17px;
  color: white !important;
  float: right !important;
}

.active {
    background-color: #4CAF50;
}

#movie-canvas {
  /*background-color: black;*/
  width: 100%;
  height: 410px;
  padding: 0px;
  position: static;
  margin-top: 50px;
  margin-bottom: -130px;
  overflow: hidden;
}

.site-footer, .page-wrap:after {
  margin-top: 250px;
  height: 40px;
  color: white;
  font-size: 10px;
  padding-top: 10px;
  text-align: center;
}
.site-footer {
  background: #212121;
}

.canvas {
  height: 390px;
}

.info {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  width: 400px;
  margin-top: 40px;
  margin-left: 30px;
  color: white;
  z-index: 9999;
}

.movie_window {
  background-color: black;
  border-radius: 2px;
  position: absolute;
  padding: 10%;
  padding-left: 16%;
  width: 600px;
  height: 420px;
  margin-top: -410px;
  margin-left: 350px;
  z-index: 9999;
}

.play-button {
  transition: width 5s, height 10s;
}

div.alert.alert-success {
  background-color: #9e9e9e;
  border-color: black;
  margin-left: 15%;
  margin-right: 15%;
  color: black;
}
